.ui.message.ConnectionPopup {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 10;
}

.ui.message.ConnectionPopup > .icons {
  margin-right: 10px;
}

.ui.message.ConnectionPopup > .icons:last-of-type {
  margin-right: 20px;
}