/* The favourites panel occupies all the screen space, and creates a 8x3 css
   grid to display the signals. */
.FavouritesPanel {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.FavouritesPanel * {
  text-transform: uppercase !important;
}

/* The columns in the grid will scroll independently of each other.
   The margins aren't needed on any of the columns, the app's padding
   will "push" them in correctly. */
.SignalBrowser > * {
  overflow-y: scroll;
  will-change: scroll-position;
  margin: 0 !important;
}

.FavouritesPanel > .ui.segment {
  margin: 0;
  padding: 0;
}