/* .tds-fonts-latin--700 {
  font-family: Gotham Bold,system,sans-serif;
  font-family: var(--tds-font-latin--700);
  font-weight: 700
}

:root {
  --tds-font-latin--400:"Gotham Book",system,sans-serif}

.tds-fonts-latin--400 {
  font-family: Gotham Book,system,sans-serif;
  font-family: var(--tds-font-latin--400);
  font-weight: 400
}

:root {
  --tds-font-latin--200:"Gotham Extra Light",system,sans-serif}

.tds-fonts-latin-200 {
  font-family: Gotham Extra Light,system,sans-serif;
  font-family: var(--tds-font-latin--200);
  font-weight: 200
}

:root {
  --tds-font-latin--300:"Gotham Light",system,sans-serif}

.tds-fonts-latin--300 {
  font-family: Gotham Light,system,sans-serif;
  font-family: var(--tds-font-latin--300);
  font-weight: 300
}

:root {
  --tds-font-latin--500:"Gotham Medium",system,sans-serif}

.tds-fonts-latin--500 {
  font-family: Gotham Medium,system,sans-serif;
  font-family: var(--tds-font-latin--500);
  font-weight: 500
} */

/* body {
  margin: 0;
  font-family: var(--tds-font-latin--400);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Make the visual representation of the scrollbar go away */
body ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Values for the Tesla Model 3 browser, all found empirically */
/* body {
  background-color: #fafafa;
  width: 1260px;
  height: 924px;
  padding: 20px;
  font-size: 28px;
} */
